<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsq.test"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>bsqAppGitHub</name>

    <description>
        An example for bsq phonegap. 
    </description>

    <author href="http://www.cherryvietnam.com" email="thisisacherryvn@gmail.com">
        bsq
    </author>
	
	<preference name="target-device" value="universal" />
	<preference name="deployment-target" value="7.0" />
	<preference name="orientation" value="portrait" />
	<preference name="stay-in-webview" value="true" />
	<preference name="fullscreen" value="true" />  
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	
	
	<access origin="*"/>
	
</widget>